[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "==3.10.4"
twilio = "==8.12.0"
python-dotenv = "==1.0.1"
pytz = "==2024.1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
